@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Fugaz+One&family=Holtwood+One+SC&family=Jua&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    margin: 0 ;
    padding: 0 ;
    background-image: url(../images/omar-prestwich-jLEGurepDco-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*nav */
nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 4px 7px 6px #47414142;
}

nav h1{
    color:white;
    font-family: 'Changa One', sans-serif;
    font-size:30px;
}


/* header*/
header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: url('../images/omar-prestwich-jLEGurepDco-unsplash.jpg');
    background-size: cover;
    padding: 290px;
    color: #fff;
}
/* footer*/
footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}